#cartMainBody{
  display: flex;
  
}

#cartBody {
 
  display: grid;
 width: 75%;
 margin-left: 20px;
 margin-right: 20px;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: auto; */
  gap: 10px;
}
#cartBody > div {
  /* border: 2px solid; */
  text-align:center ;
   border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#cartBody > div > img {
 
  width: 250px;
  height: 300px;
}

#totalAmount{
  margin-right: 20px;
  /* border: 2px solid;  */
  width: 300px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#totalAmount>p{
  display: flex;
  margin-left: 40px;
  font-size: 30px;
  font-weight: bold;

}
#buy {
  margin-top: 50px;
  margin-left: 60px;
  height: 35px;
  width: 180px;
  color: white;
  background-color: #000;
  border-radius: 10px;
}


#cartHead {
  /* border: 2px solid red; */
  position: sticky;
  top: 0;
  background-color: white;
  font-size: 25px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
}
h1{
  /* border: 2px solid red; */
  padding-top: 15px;
}
#links {
  /* border: 2px solid red; */
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  justify-content: flex-end;
}

#buy > a {
  color: white;
  font-size: 20px;
}
ion-icon {
  /* border: 2px solid red; */
  font-size: 30px;
}
#blueflyLogo {
  margin: auto;
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  height: 80px;
}

a {
  color: #000;
  text-decoration: none;
}
#blackBar {
  background-color: #000;
  height: 2px;
}
/* .banner>img{
  margin-top:7px;
   border: 2px solid red; 
  width: 450px;
  height: 150px;
} */
 
  #cartHead {
    position:sticky;
    top:0;
    background-color: white;
    font-size: 25px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
  }

  #links>a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #000;  
    transform-origin:  0% 50%;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  #links>a:hover:after { transform: scaleX(1); }
  
