#cartBody {
    margin: auto;
    display: grid;
    gap: 20px;
    width: auto;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: auto;
    gap: 20px;
  }
  #cartBody > div {
    /* border: 2px solid red; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #cartBody > div > img {
    margin: auto;

    margin-bottom: -10px;
    /* border: 2px solid red; */
    width: 200px;
    height: 200px;
  }
 
  #cartHead {
    position:sticky;
    top:0;
    background-color: white;
    font-size: 25px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    background-color: aqua;
    justify-content: space-between;
  }

  #links {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    justify-content: flex-end;
  }
  #buy {
    height: 30px;
  }
  #icon{
    /* border: 2px solid red; */
   font-size: 40px;
  }