/* Footer Above section */
#abovef{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,300px);
    gap:25px;
    height: 500px;
}

#abovef img{
    width:100%;
    height: 300px;
}
#abovef button{
    display: block;
    margin: auto;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid lightgray;
    cursor: pointer;
}
/* Footer Section end  */
#fcontainer {
    width: 100%;
    height: 500px;
    background-color: lightgray;

 }

 #top-s {
    width: 100%;
    height: 60px;
    /* border:1px solid red; */
    display: flex;
    font-size: 20px;
 }

 #top-s>div:nth-child(1) {
    margin-right: 45%;

 }

 #footer.links {
    width: 25%;
    height: 200px;
    /* border:1px solid green;  */

 }

 #footer .last {
    width: 30%;
    height: 200px;
    /* border:1px solid green; */
 }

 #scontainer {
    display: flex;
 }

 #tcontainer {
    margin-top: 40px;
    ;
    width: 100%;
    height: 150px;
    /* border:1px solid green; */
 }

 #scontainer .links>div>a {
    color: black;
    text-decoration: none;

 }

 #scontainer .links>div {
    margin-top: 20px;
    padding: 0px 15px 0px 15px;
 }

 #tcontainer>div>img {
    width: 20%;

 }

 #tcontainer>div {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #footer .last>input {
    width: 75%;
    height: 35px;
    margin-bottom: 15px;

 }

 #footer::placeholder {
    font-size: 17px;
 }

 .last>button {
    width: 77%;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    border: none;
    cursor: pointer;

 }

 .last>a>img {
    width: 8%;
    height: 15%;
    margin-top: 5px;
 }