*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar>div:nth-of-type(1){
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navbar input{
  font-size: 15px;
  padding: 3px 5px;
}
#navbar>div:nth-of-type(2){
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 80%;
  margin: auto;
  justify-content: center;
}
#navbar>div:nth-of-type(2)>a{
  font-size: 17px;
  text-decoration: none;
  color: #000000;
}

#navbar>div:nth-of-type(2)>a:after {
  display:block;
  content: '';
  border-bottom: solid 3px #000;  
  transform-origin:  0% 50%;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
#navbar>div:nth-of-type(2)>a:hover:after { transform: scaleX(1); }